body{
  margin: 0;
}

h1{
    color: #dee1e3;
    font-family: 'Playfair Display';
    font-size: 350%;
}

.window {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #2D3A44;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.container {
  background-color: #D2D4C8;
  border-radius: 5px;
  margin: 10px;
}

div.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  max-width: 900px;
}

input {
  margin: 5px;
}

button {
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: bold;
  margin: 0;
  background-color: #DB504A;
  font-size: 19pt;
  color: #5a5b5b;
  font-family: 'PT Sans';
}

button:hover{
  background-color: #e06762;
  transition: 0.3s;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: flex;
  flex-direction: row;
}

footer h3 {
  color: #dee1e3;
  padding: 0 7px;
  margin: auto 0;
  cursor: default;
}

a:hover, h3:hover{
  cursor: pointer;
}
